*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Georgia,sans-serif;
    text-transform: capitalize;
    
}

body .load{
    animation: slide 3s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
}
.content{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.principal{
    left: 49.5%;
    top: 48%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.content .animation{
    width: 100px;
    height: 100px;
    
}
.content .animation h2{
    position: absolute;
    margin-top: 202px;
    margin-left: 387px;
    font-size: -1em;
}

@keyframes slide{
    0%{
        background-image: url('../image/1.jpg');
    }
    20%{
        background-image: url("../image/2.jpg");
    }
    20.01%{
        background-image: url("../image/4.jpg");
    }
    40%{
        background-image: url("../image/5.jpg");
    }
    40.01%{
        background-image: url("../image/1.jpg");
    }
    60%{
        background-image: url("../image/2.jpg");
    }
    60.01%{
        background-image: url("../image/3.jpg");
    }
    80%{
        background-image: url('../image/4.jpg');
    }
    80.01%{
        background-image: url("../image/5.jpg");
    }
    100%{
        background-image: url('../image/1.jpg');
    }
    100.01%{
        background-image: url("../image/2.jpg");
    }
    120%{
        background-image: url("../image/4.jpg");
    }
    120.01%{
        background-image: url("../image/5.jpg");
    }
    140%{
        background-image: url("../image/1.jpg");
    }
    140.01%{
        background-image: url("../image/2.jpg");
    }
    160%{
        background-image: url("../image/3.jpg");
    }
    160.01%{
        background-image: url('../image/4.jpg');
    }
    180%{
        background-image: url("../image/5.jpg");
    }
   
}
.container{
    max-width: 96%;
    margin: -1px 21px; 
    margin-top: 0%; 
    align-items: center;
    justify-content: space-between;
   
}
.container .hamburger {
    margin-top: -41px;
   
    width: 6vh;
}
.search-ber{
    width: 280px;
    max-height: 700px;
    margin-top: -30px;
    margin-left: -10%;
    display: flex;
    background: rgba(255,255,255,0.2);
    align-items: center;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-ber input{
    background: transparent;
    flex: 1;
    outline: none;
    padding: 9px 9px;
    font-size: 14px;
    color: #cac7ff;
    border: 0;
}
::placeholder{
    color: #cac7ff;
}
.search-ber button img{
    width: 16px;
    margin-top: 2px;
}
.search-ber button{
    border: 0;
    border-radius: 60%;
    width: 21px;
    height: 21px;
    background: hsla(233, 23%, 56%, 0.515);
    cursor: pointer;
    margin-right: 7px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem o;
    margin: -1px 21px;
    flex-wrap: wrap;
}
nav ul{
    display: none;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: whitesmoke;
    margin-top: 1rem;
}
nav ul.show{
    display: block;
}
nav ul li{
    padding: 1rem;
}
nav ul li a{
    color: #3e7a7a;
    text-decoration: none;
}
.logo-section img{
    float: left;
    width: 214px;
    height: auto;
    margin: -27px;
    padding: 0px;
    margin-top: -64px;
    margin-left: -13px
}


.apartments{
    background: #f6f6f7;
}
.apartments .section-headding{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.apartments .section-headding a{
    color: #596172;
    text-decoration: 1rem;
    align-items: center;

}
.apartments .section-headding h2{
    font-weight: 400;
    color: #283113;
    font-size: 1.2rem
}
.apartments_list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2rem;
    width: 100%;
    height: 50rem;
}
.navlist{
    position: absolute;
    top: 301px;
    right:-1028px ;
    height: 89%;
    width: 227px;
    background-color: #d7c3c30d;
    z-index: 1;
    overflow-x: hidden;
    border :1px solid#f6f6f7;
    border-radius: 19px;
    margin-bottom: 10px;
    marker: none;
}
.navlist li a{
    padding-top: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #c6e9e9;
    display: block;
}
.sideber{
    position: absolute;
    width: 300px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}
 .navlist li a{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    transition: -0.4s cubic-bezier(0.25, 0.1, 0.36, 0.57);
 
}
.navlist li a:hover{
    
    color: rgb(86, 123, 192);
}
.navlist li .active a{
   
    color: rgb(86, 123, 192);
}
.first{
    background-image: url("../image/1.jpg");
    width: 100%;
    height: 100vh;
}
 nav.haburger {
    width: 100px;
   
}
.centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: -270px 0px;
}
.centerdiv a{
    height: 50px;
    width: 50px;
    background-color: #d5ebebce;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 64px;
    box-shadow: 1px 2px 2px 2px #363232;
}
.centerdiv  a i {
    transition: all 0.3s linear;
}
.centerdiv  a:hover{
    transform: scale(1.2);
}
.fa-instagram{
    color: #e84393;
}

.fa-twitter{
     color: #0097e6;
}
.fa-youtube{
    color: #e84118;
}
.fa-linkedin{
     color: #0097e6;
}
.auto_type{
    color: rgba(255, 255, 0, 0.906);
}
.full_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    overflow-x: hidden;
}
.full_box .heading{
    width: 50%;
    padding-bottom: 50px;
    padding-top: 20px;
}
.full_box .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.full_box .heading h3 span{
    font-weight: 100;
}
.full_box .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.full_box .box .dream{
    display: flex;
    flex-direction: column;
    width: 23.5%;
}
.full_box .box .dream img{
    
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
.full_box .btn{
    margin: 40px 0 70px 0;
    background-color: black;
    padding: 15px 40px;
    border-radius: 5px;
}
.full_box .btn a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
}
.videomp4{
    position: relative;
    min-height: 100vh;
    background: hsla(0, 5%, 74%, 0.557);
}
.videomp4 h2{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
    position: relative;
    text-align: center;
    padding: 6px ;
}
.videomp4 h2 span{
    font-weight: 100;
}
.videomp4 .hed{
    width: 50%;
    padding-bottom: 50px;
    padding-top: 20px;
   margin: 0px 26%;
}
.videomp4 .video-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.videomp4 .video-container .video{
    height: 224px;
    width: 369px;
    border: 4px solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.5px 1.5px rgba(0.0,0,.7);
    cursor: pointer;
    overflow: hidden;
}
.videomp4 .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    outline: none;
    border: none;
    cursor: pointer;
}
.videomp4 .video-container .video:hover video{
    transform: scale(1.3);
    transition: 2s linear;
}
.videomp4 .video-container .video .active{

    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0.0,0,.7);
    z-index: 1;
}
.videomp4 .video-container .video .active:hover{
    transform: translate(-50%, -50%) scale(1);
    transition: none;
}
.videomp4 .popup-video{
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    display: none;
}
.videomp4 .popup-video video{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #ffffff;
    object-fit: cover;

}
 .dream .photo .wrapper{
    width: 305px;
    height: 38px;
    margin: 12px -1px;
    position: relative;
    border: 1px solid #1a1919;
    border-radius: 10px;
    padding: 1px ;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.dream .photo img:hover{
    transform: scale(1.2);
    transition: 1s linear;
}
.dream .photo  .icon{
    margin-top: 4px;
    margin-left: 74px;
    margin-right: 104px;
    font-size: 29px;
    display: flex;
    color: hsl(0, 93%, 47%);
    cursor: pointer;
    text-shadow: 5px 8px 15px hwb(0 55% 15% / 0.738);
    transition: 5s;
    justify-content: center;
}
.dream .photo  .icon:hover{
    color: #ba0015;
    transform: scale(1.3);
    transition: 2s linear;
}
.dream .photo .wrapper input{
    position: relative;
    margin-top: 10px;
    margin-left: 70px;
    width: 40px;
    border: none;
    background: none;
    color: hsl(0, 1%, 37%);
    font-size: 18px;
    pointer-events: none;
}
.dream .photo .wrapper input{
    margin-left: -90px;
    margin-right: 30px;
    margin-top: 5px;
}
.full_box .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}
.full_box .btn a{
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

.about{
    width: 100%;
    padding: 95px 110px;
    background-color: black;
}
.about img{
    height: 56vh;
    width: 35%;
    border-radius: 50%;
    margin-top: 13px;
}
.about-text{
    width: 550px;
  
}
.main{
    width: 1130%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    
}
.about-text h6{
    color: #fcfc;
    text-transform: capitalize;
    margin-bottom: -9px;
    margin-top: -30px;
    margin-left: 215px;
    font-size: 15px;
}
.about-text h6 i{

    color: hsl(31, 63%, 40%);
    padding: 0px 5px;
}

.about-text span{
    color: #f9004d;

}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
    
}
.about button{
    background: #f9004d;
    text-decoration: none;
    border: px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: -16px;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: #ffffff;
}



@media screen  and (max-width:768px){
    .videomp4 .popup-video video{
      width: 100%;
    }
    .videomp4 .video-container .video {
        height: 328px;
        width: 647px;
    }
    .videomp4 .video-container .video .active{
        position: fixed;
        top: 50%; left: 50%;
        height: 35%;
        width: 99%;
    }
    .logo-section img {
        float: left;
        width: 214px;
        height: auto;
        margin: -27px;
        padding: 0px;
        margin-top: -60px;
        margin-left: -49px;
    }
  
}
@media(main-width:786px){
    nav .hamburger{
        display: none;
    }
}
@media only screen and (max-width:769px){
    .full_box .box{
        display: flex;
        flex-direction: column;
    }
    .full_box .box .dream{
        width: 100%;
    }
    .content .animation h2 {
        position: absolute;
        margin-top: 356px;
        margin-left: 155px;
        font-size: 19px;
    }
    .search-ber {
        margin-left: -15px;
    }
    .full_box .heading {
    
        padding-top: 4px;
    }
    .content {
        color: #ffffff;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
    }
    .centerdiv {
        height: 100vh;
        display: flex;
        justify-content: center;
        margin: -492px 0px;
    }
    .principal {
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 2px;
    word-spacing: 8px;
    }
   .container {
    max-width: 96%;
    margin: 25px 55px;
    margin-top: 0%;
    align-items: center;
  }
  .principal h1{
    font-size: 24px;
  }
  .navlist {
    position: absolute;
    top: 538px;
    right: -399px;
    height: 44%;
    width: 183px;
    background-color: #d7c3c30d;
    z-index: 1;
    overflow-x: hidden;
    border: 1px solid#f6f6f7;
    border-radius: 19px;
    margin-bottom: 10px;
    marker: none;
 }
 .dream .photo .wrapper {
    width: 100%;
  
}
.dream .photo img:hover{
    transform: scale(1.1);
    transition: 1s linear;

}
.container .hamburger {
    margin-top: -30px;
    width: 6vh;
}
  
 
}


@media only screen and (max-width:480px) {
    .full_box .heading{
        width: 100%;
     
    
    }
    .full_box .heading h3{
        font-size: 1em;
     
    }
    .videomp4 .hed h2{
        font-size: 1em;
    }


    .logo-section img {
        float: left;
        width: 151px;
        height: auto;
        margin: -5px;
        padding: -2px;
        margin-top: -44px;
        margin-left: -59px;
    }
    .container .hamburger{
        float: right;
        width: 162px;
        height: auto;
        margin: -23px;
        padding: 6px;
        margin-top: -166px;
        margin-left: 263px;

    }
    .search-ber {
        margin-top: -32px;
        margin-left: 5px;
    }

   
    
    

    .main{
        flex-direction: column;
        
    }
    .about img {
        
    height: 33vh;
    width: 166%;
    border-radius: 50%;
    margin-top: -68px;

    }
   .about-text{
     width: 314px;
     margin-top: 14px;
   }
   .about-text h1{
    font-size: 63px;
   }
   .about-text h6{
     margin-top: 63px;
     margin-left: 36px;
   }

   .about-text  button {
   
    margin-left: 100px;
   }
   .about-text h5{
    width: 345px;
    font-size: 19px;
    margin-top: -6px;
    
   }
   .about-text p{
    margin-top: -7px;
   }
   .centerdiv a{
    width: 44px;
    height: 44px;
   }
   .dream .photo .wrapper {
    width: 82%;
    margin-left: 36px;
  
}
.content .animation h2 {
       
    
    margin-top: 257px;
    margin-left: 18px;
    font-size: 14px;
}


.centerdiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: -375px 0px;
}


.principal h1 {
    width: 313px;
    margin-top: 0%;
    font-size: 19px;
    
}


   
    
    
    
    

}
